<h1>Fourth extended file system</h1>
<table align="center" width="85%" border="0" bgcolor="#2F4F4F">
	<tr>
		<td>
			<p>Fourth extended file system (четвёртая расширенная файловая система), сокращено ext4, или ext4fs —журналируемая ФС, используемая в ОС с ядром Linux. Основана на ФС ext3, ранее использовавшейся по умолчанию во многих дистрибутивах GNU/Linux.</p>

			<p>Первая экспериментальная реализация ext4 была написана Эндрю Мортоном и выпущена <u>10 октября2006 года</u> в виде патча к ядрам Linux версий 2.6.19-rc1-mm1 и 2.6.19-rc1-git8.</p>

			<ul>Основные изменения по сравнению с ext3:
				<li>увеличение максимального объёма одного раздела диска до 1 эксбибайта (2<sup><small>60</sup></small> байт) при размере блока4 кибибайт;</li>
				<li>увеличение размера одного файла до 16 тебибайт (2<sup><small>40</sup></small> байт);</li>
				<li>введение механизма пространственной (extent) записи файлов, уменьшающего фрагментацию и повышающего производительность. Суть механизма заключается в том, что новая информация добавляется в конец области диска, выделенной заранее по соседству с областью, занятой содержимым файла.</li>
			</ul>

			<ul><h3 align="center">Особенности</h3>
				<li>Использование экстентов . В файловой системе ext3 адресация данных выполнялась традиционным образом — поблочно. Такой способ адресации стал менее эффективным с ростом размера файлов. Экстенты позволяют адресовать большое количество (до 128 MB) последовательно идущих блоков одним дескриптором. До 4-х указателей на экстенты может размещаться непосредственно в inode, этого достаточно для файлов маленького и среднего размера.</li>
				<li>48-и битные номера блоков. При размере блока 4 KB это позволяет адресовать до одного эксбибайта (2<sup><small>48</sup></small>·(4 KB) = 2<sup><small>48</sup></small>·(2<sup><small>2</sup></small>)·(2<sup><small>10</sup></small>) B = 2<sup><small>60</sup></small> B = 1 EB).</li>

				<li>Выделение блоков группами. ФС хранит информацию не только о местоположении свободных блоков, но и о количестве свободных блоков, расположенных друг за другом. При выделении места ФС находит такой фрагмент, в который данные можно записать без фрагментации. Использование этой техники позволяет снизить уровень фрагментации ФС.</li>

				<li>Отложенное выделение блоков. Выделение блоков для хранения содержимого файла происходит непосредственно перед записью на диск (например, при вызове sync), а не при вызове write. Из-за этого блоки можно выделять не по одному, а группами, что в свою очередь минимизирует фрагментацию и ускоряет процесс выделения блоков. С другой стороны, увеличивается риск потери данных в случае внезапного пропадания питания.</li>

				<li>Поднято ограничение на число вложенных каталогов. ext3 (без использования патчей) позволяла размещать в одном каталоге не более 32 000 подкаталогов (до 65 535, если изменить константы ядра).</li>

				<li>Резервирование inode'ов при создании каталога. При создании каталога резервируется несколько inode'ов. Впоследствии, при создании файлов в этом каталоге сначала используются зарезервированные inode'ы, и если таких не осталось, выполняется обычная процедура выделения inode.</li>

				<li>Размер inode. Размер inode (по умолчанию) увеличен с 128 (ext3) до 256 байтов. Это позволило реализовать перечисленное ниже.</li>

				<li>Временные метки с наносекундной точностью. Точность временных меток, хранящихся в inode, повышена до наносекунд. Диапазон значений тоже расширен: у ext3 верхней границей хранимого времени было 18 января 2038 года, а у ext4 — 25 апреля 2514 года.</li>

				<li>Версия inode. В структуре inode появилось поле, хранящее номер версии. Номер может увеличиваться при каждом изменении inode, если ФС монтирована с опцией iversion. Это используется демонами сетевой файловой системы NFS версии 4 (NFSv4) для отслеживания изменений файлов.</li>

				<li>Хранение расширенных атрибутов в структуре inode. Производительность файловой системы повышается из-за исключения операции поиска атрибутов в каком-либо другом месте диска. К расширенным атрибутам относятся списки контроля доступа ACL, атрибутыSELinux и другие. Атрибуты, для которых недостаточно места в структуре inode, хранятся в отдельном блоке размером 4 KB. В будущем планируется снять это ограничение.</li>

				<li>Вычисление контрольных сумм для записей журнала. Использование контрольных сумм для транзакций журнала позволяет быстрее находить и (иногда) исправлять ошибки системы после сбоя (при проверке целостности).</li>

				<li>Предварительное выделение. Для выделения места на ext2 и ext3 приложению приходилось записываться в файл нулевые байты. В ext4 появилась возможность резервирования блоков. Теперь не нужно тратить время на запись нулевых байт, достаточно использовать системный вызов fallocate. fallocate выделяет для файла блоки и устанавливает для них флаг «заполнены нулевыми байтами». При чтении из файла приложение получит нулевые байты (так же, как при чтении sparse файла). При записи в файл флаг «заполнены нулевыми байтами» будет снят. В отличии sparse файлов запись в такой файл никогда не прервётся из-за нехватки свободного места.</li>

				<li>Дефрагментация без размонтирования. Дефрагментация выполняется утилитой e4defrag, поставляемой в составе пакета e2fsprogs с 2011 года.</li>

				<li>Неинициализированные блоки. Возможность пока не реализована и предназначена для ускорения проверки целостности ФС утилитой fsck. Блоки, отмеченные как неиспользуемые, будут проверяться группами, и детальная проверка будет производится только если проверка группы показала наличие повреждений. Предполагается, что время проверки будет составлять от 1/2 до 1/10 от нынешнего в зависимости от способа размещения данных. </li></ul>

				<ul><h3>Поддержка в ОС</h3>
				<li>coLinux — технология, позволяющая запустить ядро Linux под управлением ОС Windows. Возможен доступ к томам с ФС ext2/ext3/ext4.</li>

				<li>Ext2read — программа, предоставляющая доступ к ФС ext2/ext3/ext4 и LVM2, но в режиме только для чтения, с интерфейсом, напоминающим проводник Windows.</li>

				<li>Ext2Fsd — экспериментальный драйвер, добавляющий поддержку ФС ext2/ext3/ext4 для ОС Windows. Драйвер поддерживает не все возможности ФС.</li>

				<li>Paragon ExtFS for Windows — бесплатное для личного пользования проприетарное ПО, предоставляющее доступ к ФС ext2/ext3/ext4 для чтения и записи.</li></ul>



		</td>



	</tr>
