<h1 align="center">Third extended file system</h1>
<table align="center" width="85%" border="0" bgcolor="#2F4F4F">
	<tr>
		<td>
			<p>Third extended file system (третья версия расширенной файловой системы), сокращённо ext3 или ext3fs — журналируемая файловая система, используемая в операционных системах на ядре Linux, является файловой системой по умолчанию во многих дистрибутивах.</p>
			<p>Основное отличие от ext2 состоит в том, что ext3 журналируема, то есть в ней предусмотрена запись некоторых данных, позволяющих восстановить файловую систему при сбоях в работе компьютера.</p>
			<ul>Стандартом предусмотрено три режима журналирования:
				<li><b>writeback:</b> в журнал записываются только метаданные файловой системы, то есть информация о её изменении. Не может гарантировать целостности данных, но уже заметно сокращает время проверки по сравнению с ext2;/li>
				<li><b>ordered:</b> то же, что и writeback, но запись данных в файл производится гарантированно до записи информации об изменении этого файла. Немного снижает производительность, также не может гарантировать целостности данных (хотя и увеличивает вероятность их сохранности при дописывании в конец существующего файла);</li>
				<li><b>journal:</b> полное журналирование как метаданных ФС, так и пользовательских данных. Самый медленный, но и самый безопасный режим; может гарантировать целостность данных при хранении журнала на отдельном разделе (а лучше — на отдельном жёстком диске).</li>
				</ul>
				<p>Указывается режим журналирования в строке параметров для программы mount, например:</p>
				<table align="center" width="50%" border="0" bgcolor="#D2B48C">
					<tr>
						<td>
							<p> mount /dev/hda6 /mnt/disc -t ext3 -o data=<режим></p>
						</td>
					</tr>
					</table>
					<p>либо в файле /etc/fstab.</p>
					<p>Файловая система ext3 может поддерживать файлы размером до 1 ТБ. С Linux-ядром 2.4 объём файловой системы ограничен максимальным размером блочного устройства, что составляет 2 терабайта. В Linux 2.6 (для 32-разрядных процессоров) максимальный размер блочных устройств составляет 16 ТБ, однако ext3 поддерживает только до 4 ТБ.</p>
					<h3 align="center">Ограничения размеров</h3>

					<p>Максимальное число блоков для ext3 равняется 232. Размер блока может быть различным, что влияет на максимальное число файлов и максимальный размер файла в файловой системе. </p>

					<table border="1" align="center" width="70%">
						<tr>
							<td align="center"><b>Размер блока</b></td>
							<td align="center"><b>Макс. размер файла</b></td>
							<td align="center"><b>Макс. размер файловой системы</b></td>
						</tr>

						<tr>
							<td align="center">1 KiB</td>
							<td align="center">16 GiB</td>
							<td align="center">До 2 TiB</td>
						</tr>

						<tr>
							<td align="center">2 KiB</td>
							<td align="center">256 GiB</td>
							<td align="center">До 8 TiB</td>
						</tr>

						<tr>
							<td align="center">4 KiB</td>
							<td align="center">2 TiB</td>
							<td align="center">До 16 TiB</td>
						</tr>

						<tr>
							<td align="center">8 KiB</td>
							<td align="center">2 TiB</td>
							<td align="center">До 32 TiB</td>
						</tr>



					</table>




		</td>



	</tr>
