<h1 align="center">Second Extended File System</h1>
<table align="center" width="85%" border="0" bgcolor="#2F4F4F">
	<tr>
		<td>
			<p> <b>Second Extended File System</b> (вторая расширенная файловая система), сокращённо ext2 (иногда ext2fs) — файловая система ядра Linux. Была разработана Реми Кардом взамен существующей тогда ext. Главный недостаток ext2 (и одна из причин демонстрации столь высокой производительности) заключается в том, что она не является журналируемой файловой системой. Он был устранён в файловой системе ext3 — следующей версии Extended File System, полностью совместимой с ext2. Файловая система ext2 по-прежнему используется на флеш-картах и твердотельных накопителях (SSD), так как отсутствие журналирования является преимуществом при работе с накопителями, имеющими ограничение на количество циклов записи.</p>
			<h3 align="center">Логическая организация файловой системы EXT2</h3>
			<p>Граф, описывающий иерархию каталогов файловой системы ext2, представляет собой сеть. Причиной такой организации является то, что один файл может входить сразу в несколько каталогов.
Все типы файлов имеют символьные имена. В иерархически организованных файловых системах обычно используются три типа имен: простые, составные и относительные. Не является исключением и ext2. Ограничения на простое имя состоят в том что, его длина не должна превышать 255 байт, а также в имени не должны присутствовать символ NULL и слеш. Полное имя представляет собой цепочку простых символьных имен всех каталогов, через которые проходит путь от корня до данного файла. </p>
			<ul>Атрибутами файловой системы ext2 являются:
				<li>тип и права доступа к файлу;</li>
				<li>владелец, группа доступа;</li>
				<li>информация о разрешённых операциях;</li>
				<li>время создания, дата последнего доступа, дата последнего изменения и время последнего удаления;</li>
				<li>текущий размер файла;</li>
				<li><ul>спецификация файла:</li>
				<li>обычный файл;</li>
				<li>каталог,</li>
				<li>файл байт-ориентированного устройства,</li>
				<li>файл блочно-ориентированного устройства,</li>
				<li>именованный канал,</li>
				<li>символическая ссылка,</li></ul>
				<li>число занимаемых блоков,</li>
				<li>ACL</li>
				<li>другие</li>
				</ul>

				<p>Атрибуты файлов хранятся не в каталогах, как это сделано в ряде простых файловых систем, а в специальных таблицах. В результате каталог имеет очень простую структуру, состоящую всего из двух частей: номера индексного дескриптора и имени файла.</p>
				<img src="1-1.png">

				<h3 align="center">Физическая организация файловой системы EXT2
Структура дискового раздела</h3>
				<ul>Как и в любой файловой системе UNIX, в составе ext2 можно выделить следующие составляющие:
					<li>блоки и группы блоков;</li>
					<li>индексный дескриптор;</li>
					<li>суперблок;</li>
				</ul>
				<p>Суперблок находится в 1024 байтах от начала раздела. От целостности суперблока напрямую зависит работоспособность файловой системы. Операционная система создаёт несколько резервных копий суперблока на случай повреждения раздела.</p>

				<h3 align="center">Группа блоков</h3>

				<ul>Все блоки раздела ext2 разбиваются на группы блоков. Для каждой группы создаётся отдельная запись в глобальной дескрипторной таблице, в которой хранятся основные параметры:
					<li>номер блока в битовой карте блоков,</li>
					<li>номер блока в битовой карте inode,</li>
					<li>номер блока в таблице inode,</li>
					<li>число свободных блоков в группе,</li>
					<li>число индексных дескрипторов, содержащих каталоги.</li>
				</ul>
				<p>Битовая карта блоков — это структура, каждый бит которой показывает, отведён ли соответствующий ему блок какому-либо файлу. </p>
				<img src="1-2.png">
				<h3 align="center">Системы адресации данных</h3>
				<p>Система адресации данных — это одна из самых важных составляющих файловой системы. Именно она позволяет находить нужный файл среди множества как пустых, так и занятых блоков на диске.</p>
				<img src="image/1-3.png">

				





		</td>


	</tr>
