<h1 align="center">Лабораторные работы</h1>
<body link="brown" alink="yellow" vlink="orange">
<H3>Выберете лабораторную работу:</H3>
<a href="#">Лабораторная работа №1</a> (Установка системы VMware Workstation)<br>
<a href="#">Лабораторная работа №2</a> (Создание виртуальной конфигурации)<br>
<a href="#">Лабораторная работа №3</a> (Изменение конфигурации и добавление новых устройств)<br>
<a href="#">Лабораторная работа №4</a> (Установка системы Microsoft Virtual PC 2004)<br>
<a href="#">Лабораторная работа №5</a> (Создание виртуальной конфигурации)<br>
<a href="#">Лабораторная работа №6</a> (Работа с виртуальными дисками жесткого диска и дисковода: создание и применение)<br>
<a href="#">Лабораторная работа №7</a> (Эмулятор виртуального компьютера VMware. Подготовка к установке Linux)<br>
<a href="#">Лабораторная работа №8</a> (Установка ОС Linux на примере SUSE Linux Enterprise 10 Desktop)<br>
<a href="#">Лабораторная работа №9</a> (Работа с ОС Linux в режиме командной строки)<br>
<a href="#">Лабораторная работа №10</a> (Работа с ОС Linux в графической оболочке. Стандартные программы)<br>

