<h1>Добро пожаловать на обучение по Windows и Ubuntu</h1>
<p>Find me in app/views/training/index.html.erb</p>
<a href="training/windows">Обучающее пособие по Windows</a><br/>
<a href="training/ubuntu">Обучающее пособие по Ubuntu</a>